/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Z-header ******/

header {
    height: 79px;
    max-width: 1390px;
}

header .logo {
    padding: 30px 50px 30px 0px;
    gap: 10px;
    height: 19px;
}

nav {
    float: right;
    padding: 0px 25px 0px 25px;
    height: 35px;
}

nav button {
    text-align: center;
    vertical-align: bottom ;
    height: 100%;
    background-color: white;
    border: none;
    padding-top: 15px;
    margin-left: 69px;
    cursor: pointer;
    font-size: 16px;
}

nav .nav-heberg button {
    color: var(--main-color);
    border-top: solid 2px var(--main-color);
}

/****** Z- Info and Filtre ******/

.info {
    display: flexbox;
}

.info div {
    margin: 35px 0px 35px 0px;
}

.info .headline-1 {
    font-size: 22px;
    font-weight: 700;
    margin: 0;
}

.info .headline-2 {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}

.info .search-bar form {
    background-color: var(--main-bg-color);
    height: 48.4px;
    width: max-content;
    border-radius: 15px;
    border: solid 1px var(--main-bg-color);
}

.info .search-bar form i {
    width: 50px;
    text-align: center;
}

.info .search-bar form #map {
    height: 100%;
    background-color: white;
    border: none;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    padding: 0;
}

.info .search-bar form .rechercher {
    height: 100%;
    text-align: center;
    border: none;
    font-weight: 700;
    font-size: 18px;
    border-radius: 0px 15px 15px 0px;
    color: white;
    background-color: var(--main-color);
}

.info .filtre {
    height: max-content;
    vertical-align: sub;
    display: flex;
    align-items: center;
}

.info .filtre span {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    height: 100%;
}

.info .filtre .fa-solid {
    color: var(--main-color);
    margin-right: 12px;
}

.info .filtre a {
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 700;
    border: solid 2px #D9D9D9;
    border-radius: 25px;
    text-align: center;
    height: 38.8px;
    margin: 0 7.5px;
    padding: 4px 19px 4px 19px;
}

.info .filtre a:hover {
    background-color: #DEEBFF;
}

.info .infobar {
    height: 24px;
    display: flex;
    align-items: center;
}

.info .infobar .i {
    display: inline-block;
    text-align: center;
    color: var(--main-color);
    border: solid 1px #D9D9D9;
    border-radius: 100%;
    height: 22.4px;
    width: 22.4px;
    line-height: 22.4px;;
}

.info .infobar p {
    font-size: 16px;
}

/****** Z- Hebergement on map ******/

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.hebergements-cards .card {
    margin-top: 33px;
    width: max-content;
    width: 15vw;
    max-width: 220px;
}

.hebergements-cards .card-content {
    padding: 0 10px;
}

.hebergements-cards img {
    height: 124px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/****** Z- Activité ******/

.activites {
    margin: 30px 0;
}

.activites .part {
    margin: 30px;
}

.activites .activites-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.activites-cards {
    height: 439px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}

.activites-cards .card {
    padding: 0;
    width: 20vw;
    max-width: 297.5px;
}

.activites-cards img {
    height: 380px;
    padding: 0;
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.activites-cards .card-content {
    padding: 20px 19px;
}

.activites-cards h3 {
    margin: 0;
}

footer {
    display: flex;
    background-color: var(--main-bg-color);
    margin-top: 65px;
}

footer .foot {
    font-size: 16px;
    font-weight: 400;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 33.33%;
    align-content: space-between;
}

footer .foot .hf {
    font-size: 18px;
    font-weight: 700;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}